.table-light th,
.table-light td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

.table-light tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-light tr:last-child td {
  border-bottom: 0;
}

