@import "../node_modules/basscss/css/basscss.css";
@import "../node_modules/basscss-colors/css/colors.css";
@import "../node_modules/basscss-background-colors/css/background-colors.css";

body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  max-width: 54rem;
}

